{% extends 'base.html' %}

{% block content %}
    <h1>Offers</h1>
    <div class="card-container">
    {% for offer in offers %}
        <a href="/products">
            <div class="card">
                <img src="{{ offer.image_url }}" alt="{{ offer.title }}">
                <div class="card-content">
                    <h2>{{ offer.title }}</h2>
                    <p>{{ offer.description }}</p>
                    <p>Price starting at Rs.500{{ offer.price }}</p>
                    <p>Discount: {{ offer.discount * 100 }}%</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}